.container {
  display: flex;
}


.sidebar {
  width: 150px;
  height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-header h3 {
  margin: 0;
}

.sidebar-header button {
  background-color: #1E90FF;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.dashboard-container {
  display:flex;
  padding: 20px;
}



.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-profile h3 {
  margin: 0;
}

